* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    color: #444;
    border-top: 10px solid #1098ad;
}

.page-container {
    width: 800px;
    margin: 0 auto;
}

.main-header {
    padding: 20px 40px;
    background-color: #f7f7f7;
    margin-bottom: 60px;
}

.post-header {
    margin-bottom: 40px;
}

article {
    margin-bottom: 60px;    
}

nav a:link {
    margin-right: 30px;
    margin-top: 10px;
    display: inline-block;
    font-size: 18px;
}

nav a:link:last-child {
    margin-right: 0;
}

aside {
    background-color: #f7f7f7;
    border-top: 5px solid #1098ad;
    border-bottom: 5px solid #1098ad;
    padding: 40px 0;
    width: 500px
}

.post-img {
    width: 100%;
    height: auto;
}

h1, h2, h3 {
    color: #1098ad
}

h1 {
    font-size: 26px;
}

.brand-name {
  font-size: 26px;
  font-style: italic;
  text-transform: uppercase;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

ol, ul {
    margin-left: 40px;
    margin-bottom: 8px;
}

li {
  font-size: 20px;
  margin-bottom: 15px;
}

li:last-child {
    margin-bottom: 0;
}

/* footer p {
    font-size: 16px;
} */


.author {
    font-style: italic;
    font-size: 18px;
}

.related-author {
    font-size: 18px;
    font-weight: bold;
}

.copyright {
    font-size: 16px;
}

.related-posts {
    list-style-type: none;
}

/* li:first-child {
    font-weight: bold;    
} */

/* li:last-child {
    font-style: italic;
} */

/* Styling links */
a:link {
    color: #1098ad;
    text-decoration: none;
}

a:visited {
    color: #1098ad;
}

a:hover {
    color: #444;
    font-weight: bold;
    text-decoration: underline;
}

/* article p:last-child {
    color: red;
} */

/* titles and subtitles: 1098ad
text: 444
first header background color: f7f7f7 */
