body {
    border: 5px solid black;
    line-height: 1.4;
}

.product-name {
    text-transform: uppercase;
    text-align: center;
    background-color: #ececec;
}

.price {
    font-size: 26px;
}

.perk {
    text-transform: uppercase;
    color: #444;
}

a:link, a:visited {
    color: black;
    font-size: 18px;
}

a:hover, a:active {
    text-decoration: none;
}

.list-title {
    text-transform: uppercase;
    font-size: 16px;
}

ul {
    list-style-type: square;
}

button {
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 8px;
    border: none;
    text-transform: uppercase;
}

button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}